node_modules/
dist/
dist-electron/
build/
release/
*.pyc
__pycache__/
test_output/
src/test_output/
src/python/tesseract-portable/
src/python/dist/
src/python/build/
src/python/*.spec.lock
.DS_Store
*.dmg
mac-unpacked/
